{
  "name": "alien-types",
  "config": {
    "type": "source",
    "topic.prefix": "alien-types",
    "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
    "key": "alien_type_id",
    "tasks.max": "1",
    "connection.url": "jdbc:postgresql://postgres:5432/postgres",
    "connection.user": "postgres",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "mode": "timestamp+incrementing",
    "incrementing.column.name": "alien_type_id",
    "timestamp.column.name": "modified_date",
    "query" : "select alien_type_id alienTypeId, alien_type_id, type, description, image, svg, severity, modified_date from alien_types",
    "name": "alien-types",
    "transforms": "setKey,extractKey",
    "transforms.extractKey.type":"org.apache.kafka.connect.transforms.ExtractField$Key",
    "transforms.setKey.type":"org.apache.kafka.connect.transforms.ValueToKey",
    "transforms.setKey.fields":"alien_type_id",
    "transforms.extractKey.field":"alien_type_id",
    "value.converter.schemas.enable": false
  }
}